<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.schedule.schedule.repository.MemberMapper">

    <resultMap id="MemberResultMap" type="Member">

        <result property="memberId" column="MEMBER_ID"/>
        <result property="createdBy" column="CREATED_BY"/>
        <result property="createAt" column="CREATE_AT"/>
        <result property="lastModifiedBy" column="LAST_MODIFIED_BY"/>
        <result property="lastModifiedAt" column="LAST_MODIFIED_AT"/>

        <association property="memberLoginId" javaType="MemberLoginId">
            <result property="id" column="MEMBER_LOGIN_ID"/>
        </association>

        <association property="password" javaType="Password">
            <result property="encryptType" column="ENCRYPT_TYPE"/>
            <result property="password" column="PASSWORD"/>
            <result property="lockCount" column="LOCK_COUNT"/>
        </association>

        <association property="name" javaType="Name">
            <result property="firstName" column="FIRST_NAME"/>
            <result property="lastName" column="LAST_NAME"/>
        </association>

        <association property="homeAddress" javaType="Address">
            <result property="doroYn" column="HOME_DORO_YN"/>
            <result property="jiBunYn" column="HOME_JI_BUN_YN"/>
            <result property="zipCode" column="HOME_ZIP_NO"/>
            <result property="address" column="HOME_ADDRESS"/>
            <result property="addressDetail" column="HOME_ADDRESS_DETAIL"/>
        </association>

        <association property="cellPhone" javaType="Phone">
            <result property="firstNumber" column="CELL_FIRST_NUMBER"/>
            <result property="middleNumber" column="CELL_MIDDLE_NUMBER"/>
            <result property="lastNumber" column="CELL_LAST_NUMBER"/>
        </association>

    </resultMap>

    <select id="findMemberByMemberLoginId" resultMap="MemberResultMap">
        SELECT MEMBER_ID
             , MEMBER_LOGIN_ID
             , ENCRYPT_TYPE
             , PASSWORD
             , LOCK_COUNT
             , FIRST_NAME
             , LAST_NAME
             , HOME_DORO_YN
             , HOME_JI_BUN_YN
             , HOME_ZIP_NO
             , HOME_ADDRESS
             , HOME_ADDRESS_DETAIL
             , CELL_FIRST_NUMBER
             , CELL_MIDDLE_NUMBER
             , CELL_LAST_NUMBER
             , CREATED_BY
             , CREATE_AT
             , LAST_MODIFIED_BY
             , LAST_MODIFIED_AT
        FROM MEMBER
        WHERE MEMBER_LOGIN_ID = #{id}
    </select>

    <insert id="insertMember">
        INSERT INTO MEMBER( MEMBER_LOGIN_ID
                          , ENCRYPT_TYPE
                          , PASSWORD
                          , LOCK_COUNT
                          , FIRST_NAME
                          , LAST_NAME
                          , HOME_DORO_YN
                          , HOME_JI_BUN_YN
                          , HOME_ZIP_NO
                          , HOME_ADDRESS
                          , HOME_ADDRESS_DETAIL
                          , CELL_FIRST_NUMBER
                          , CELL_MIDDLE_NUMBER
                          , CELL_LAST_NUMBER
                          , CREATED_BY
                          , CREATE_AT
                          , LAST_MODIFIED_BY
                          , LAST_MODIFIED_AT)
        VALUES ( #{memberLoginId.id}
               , #{password.encryptType}
               , #{password.password}
               , #{password.lockCount}
               , #{name.firstName}
               , #{name.lastName}
               , #{homeAddress.doroYn}
               , #{homeAddress.jiBunYn}
               , #{homeAddress.zipCode}
               , #{homeAddress.address}
               , #{homeAddress.addressDetail}
               , #{cellPhone.firstNumber}
               , #{cellPhone.middleNumber}
               , #{cellPhone.lastNumber}
               , #{createdBy}
               , now()
               , #{lastModifiedBy}
               , now())
    </insert>

</mapper>
